body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

header {
    background-color: light-blue;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    background-color: white;
    margin: 15px 0;
    padding: 15px;
    border-radius: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
}
[data-theme="light"] {
    background: #fff;
    color: #000;
}

[data-theme="dark"] {
    background: #222;
    color: #ddd;
}
